<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.navpal.feedback">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme" >
        <activity
            android:name=".ui.WelcomeActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TicketActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.CreateNewTicketActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.AudioFeedbackActivity"
            android:label="@string/title_activity_audio_feedback" >
        </activity>
        <activity
            android:name=".ui.GetstartedActivity"
            android:label="@string/title_activity_getstarted"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.CreateIssueActivity"
            android:label="@string/title_activity_create_issue" >
        </activity>
        <activity
            android:name=".ui.Home"
            android:label="@string/title_activity_home" >
        </activity>
    </application>

</manifest>
